<section class="bg-white py-8 md:py-16 font-gilroy">
  <div class="container mx-auto px-4 flex flex-col md:flex-row items-center">
    <div class="md:w-1/2 md:order-1 w-full">
      <h2 class="text-xl md:text-2xl font-bold text-black mb-4 text-center md:text-left md:hidden">Content title</h2>
      <div class="flex justify-center md:justify-end">
        <img src="./assets/images/image2.jpeg" alt="Sea with a group of dolphins swimming" class="object-cover w-[341px] h-[249px] md:w-[555px] md:h-[400px] rounded-md">
      </div>
    </div>

    <div class="md:w-[40%] mt-8 md:mt-0 text-center md:text-left md:pl-8 md:order-2 w-full">
      <h2 class="text-xl md:text-2xl font-bold text-black mb-4 hidden md:block">Content title</h2>
      <p class="text-base md:text-lg text-black leading-relaxed mb-8">
        Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.<br>
        <br>
        Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
      </p>
      <a href="#" class="inline-block text-white font-bold bg-black py-3 px-6 rounded-lg hover:bg-gray-300 transition">Buy now</a>
    </div>
  </div>
</section>
